@model BlogReview.Models.Article
@using Markdig

@{
    ViewData["Title"] = Model.Title;
    var contentHtml = Markdown.ToHtml(Model.Content);
}

<div style="max-width: 1000px; margin: 0 auto;">
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <h6 style="color: gray;">Author: @Html.DisplayFor(model => model.Author.UserName)</h6>
    <hr />
    <div>
        @Html.Raw(contentHtml)
    </div>
</div>
