@using BlogReview.Models
@model Article

@{
    ViewData["Title"] = "Create article";
}
@{
    var groupNames = Enum.GetNames(typeof(ArticleGroup)).ToList();
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>


<div>
    <form action="Article" method="POST" style="max-width: 500px; margin: 0 auto;">
        <input hidden asp-for=Id />
        <div class="form-group">
            <label for="title">Title</label>
            <input asp-for=Title type="text" class="form-control" id="title" placeholder="Article title">
        </div>
        <div class="form-group">
            <label for="articleEditor">Content</label>
            <textarea asp-for=Content class="form-control" id="articleEditor" rows="6"></textarea>
        </div>
        <div class="form-group">
            <label for="rating">Rating</label>
            <input asp-for=Rating type="number" class="form-control" id="rating" placeholder="Rating">
        </div>
        <div class="form-group">
            <label for="articleObjectName">Piece of art name</label>
            <input asp-for=ArticleObject.Name type="text" class="form-control" id="articleObjectName" placeholder="Piece of art name">
        </div>
        <div class="form-group">
            <label for="group">Piece of art group</label>
            <select asp-for="ArticleObject.Group" class="form-control" id="group">
                @foreach (var groupName in groupNames)
                {
                    <option value="@groupName">@groupName</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-secondary mt-2">Submit</button>
    </form>

    <script>
        var editor = new SimpleMDE({ element: document.getElementById("articleEditor") });
    </script>

</div>