@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model IEnumerable<BlogReview.ViewModels.ArticleView>

@{
    ViewData["Title"] = Localizer["BlogsBanner"];
}

<h1>@Localizer["BlogsBanner"]</h1>

<p>
    <a asp-action="CreateArticle" class="btn btn-sm btn-secondary">@Localizer["CreateNewArticle"]</a>
</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (var article in Model)
                {
                    <div class="col">
                        @await Html.PartialAsync("_ArticleElement", article)
                    </div>
                }
            </div>
        </div>
        <div class="col-md-3 order-first order-md-last">
            <div class="sticky-top">
                <div>
                    <h5>@Localizer["HighestRatingBanner"]</h5>
                    <div id="highestRating">
                    </div>
                </div>
                @await Html.PartialAsync("_TagCloud")
            </div>
        </div>
    </div>
</div>

<script>
    fetch('@Url.Action("HighestRatingArticles", "Feed")' + "?count=5")
        .then(response => response.text())
        .then(html => {
            document.querySelector('#highestRating').innerHTML = html;
        });
</script>
