@using Microsoft.AspNetCore.Mvc.Localization
@using BlogReview.ViewModels;
@inject IViewLocalizer Localizer
@model BlogReview.ViewModels.ArticlePaginate

@{
    ViewData["Title"] = Localizer["SearchBanner"];
}

<h1>@Localizer["SearchBanner"]</h1>
<h3 style="color: gray;">@Localizer["QueryBanner"]: "@ViewData["Query"]"</h3>
<hr />

@await Html.PartialAsync("_Paginate", Model)
